.my-name {
    font-size: 3.25rem;
}

.header-border {
    border-width: 0.5px !important;
}

[class*="__description"] {
    list-style: '–  ';
}

.achievements__table {
    tr:not(:last-child) {
        td {
            padding-bottom: 0.625rem;
        }
    }
}

.social-logo {
    height: 18px;
    aspect-ratio: 1;
}

.content-section {
    width: 840px;
    margin: auto;
}