.my-name {
  font-size: 3.25rem;
}

.header-border {
  border-width: 0.5px !important;
}

[class*="__title"] {
  color: $black;
  font-weight: 600 !important;
}

[class*="__description"] {
  list-style: '–  ';
}

.achievements__table {
  tr:not(:last-child) {
    td {
      border-bottom: 1px solid $light;
    }
  }

  td {
    padding: 0.25rem;
    vertical-align: middle;
  }
}

.social-logo {
  height: 18px;
  aspect-ratio: 1;
}

.content-section {
  width: 830px;
  margin: auto;
}

.column__narrow {
  width: 255px;
  flex-basis: 255px;
}